.contact-tab {
  position: fixed;
  left: -55px;
  top: 55%;
  transform: rotate(-90deg);
  transform-origin: center;

  background: #0f440c;
  color: #FFFDD0;
  text-decoration: none;

  padding: 14px 22px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  border-radius: 8px 8px 0 0;
  z-index: 9999;

  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-tab:hover {
  left: -45px;
  color: #fff;
  background: #a71d23;
}

@media (max-width: 768px) {
  .contact-tab {
    left: -50px;
    padding: 12px 18px;
    font-size: 14px;
  }
}